body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}
.para {
  background-color: aqua;
  font-size: 50px;
  /* width: 30px; */
}

ul li {
  /* display: none; */
  visibility: hidden;
}

li {
  background-color: red;
}
ul {
  display: flex;
  gap: 30px;
}

.box {
  background-color: red;
  height: 200px;
  width: 200px;
  /* visibility: hidden; */
  /* display: none; */
  /* border-width: 20px; */
  /* border-style: solid; */
  /* border-color: green; */
  /* border-image:url(fb.png) 11 11 11 11 round ; */
  position: relative;
}

.box1 {
  background-color: rgb(0, 128, 0);
  height: 200px;
  width: 200px;
  /* visibility: hidden; */
  /* display: none; */
  /* box-shadow: 0px 0px 25px 9px rgba(0,0,0,1); */
  /* opacity: 0.5;
 */

  border-radius: 50%;
}

.boxChild {
  height: 150px;
  width: 150px;
  background-color: white;
  border: 1px solid #000;
  position: absolute;
  top: -60px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  left: 25px;
  right: 25px;

  /* right: 0px; */
  /* bottom: 0px; */
  /* left: 0px; */
}
