.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-columns: repeat(auto-fill, 200px);
  /* grid-template-rows: 1fr 1fr 1fr; */
  grid-gap: 20px;
  /* column-gap: 20px; */
  /* grid-template-columns: 1fr 3fr 1fr 1fr; */
  /* background-color: rgb(28, 179, 36); */
  /* grid-template-columns: 150px 300px 100px 250px; */

  /* grid-template-columns: repeat(3,300px); */
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 250px)); */
  /* place-items: center; */
  /* row-gap: 20px;
column-gap: 20px; */
  /* grid-gap: 20px; */

  grid-template-areas:
    " header header header header"
    "  sidebar sidebar con1 con1"
    "sidebar  sidebar con2 con3"
    " footer footer footer footer";
}

.box {
  border: 1px solid yellow;
  height: 200px;
  width: 100%;
}

.box:nth-child(1) {
  background-color: aqua;
  /* grid-row-start: 3; */
  /* grid-column-start:1;
    grid-column-end:3; */
  /* width: 400px; */

  /* grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3; */
}

.box:nth-child(2) {
  background-color: palegreen;
  /* grid-row-start: 1;
  grid-row-end: 3; */
  /* height: 100%; */
}

.box:nth-child(3) {
  background-color: purple;
}
/* .box:nth-child(4){
    background-color: green;
} */

.box:nth-child(4) {
  background-color: blue;
}
.box:nth-child(5) {
  background-color: red;
  /* grid-row-start: 3; */
}
.box:nth-child(6) {
  background-color: yellow;
}
.box:nth-child(7) {
  background-color: pink;
}
.box:nth-child(8) {
  background-color: aquamarine;
  /* grid-row-start: 2; */
  /* grid-column-start: 2; */
}
.box:last-child {
  background-color: green;
  /* grid-row-start: 1; */
}

.header {
  background-color: aqua;
  grid-area: header;
}

.sidebar {
  background-color: yellow;
  grid-area: sidebar;
}

.con1 {
  background-color: brown;
  grid-area: con1;
}
.con2 {
  background-color: red;
  grid-area: con2;
}
.con3 {
  background-color: purple;
  grid-area: con3;
}

.footer {
  background-color: aquamarine;
  grid-area: footer;
}
